body{
  font-family: "Poppins", serif;
}

.hero-section{
  padding: 100px;
} 
.vission-section, 
.mission-section, 
.content-section, 
.history {
  padding: 20px 100px;
}

.hero-section .content,
.vission-section .d-flex,
.mission-section .d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: center;
  align-items: center; */
}
.hero-section .text, 
.vission-section .text, 
.mission-section .text {
  flex: 1;
  max-width: 100%;
}

.hero-section .image, 
.vission-section .img, 
.mission-section .img {
  flex: 1;
  max-width: 100%;
  text-align: center;
}

.hero-section .image img, 
.vission-section .img img, 
.mission-section .img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero-section .text h1 {
  font-size: 48px;
  color: #1042BF; 
  margin-bottom: 10px;
  font-weight: 700;
}

.hero-section .text h4 {
  font-size: 24px;
  color: #FC5F12; 
  margin-bottom: 20px;
  font-weight: 500;
}

.hero-section .text p {
  font-size: 24px;
  font-weight: medium;
  color: #666;
  line-height: 1.5; 
}

.mission-section .text ul li h5 {
  color: #333;
  font-size: 20px;
  text-align: justify;
}

.mission-section .text ul li p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.history p {
  font-size: 20px;
  line-height: 1.6;
}
h3 {
  color: #04143d;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 36px
}
p{
  color: #666;
  font-size: 18px;
}
.content-section {
  padding: 50px 100px;
  background-color: #f9f9f9;
}
.content-section .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.team-member {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.team-member img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  max-width: 200px;
  margin: 0 auto;cd
}


@media (max-width: 1000px) {
  .hero-section .content,
  .vission-section .d-flex, 
  .mission-section .d-flex{
    flex-direction: column;
  }
  
  .vission-section .text, 
  .mission-section .text {
    text-align: center;
  }
.hero-section, 
.vission-section, 
.mission-section, 
.content-section, 
.history {
  padding: 20px 80px;
}
}

@media (max-width: 768px) {
  .vission-section .img img, 
  .mission-section .img img {
    max-width: 100%;
    height: auto;
  }
  .content-section .row {
    flex-direction: column;
    gap: 20px;
  }
  .hero-section, 
.vission-section, 
.mission-section, 
.content-section, 
.history {
  padding: 20px 60px;
}
.hero-section .text h1 {
  font-size: 32px;
}

.hero-section .text h4 {
  font-size: 20px;
}

.hero-section .text p {
  font-size: 18px;
}

.mission-section .text ul li h5 {
  font-size: 18px;
}

.mission-section .text ul li p {
  font-size: 16px;
}

.history p {
  font-size: 16px;
}
h3{
  font-size: 24px;
}
p{
  font-size: 16px;
}
}

@media (max-width: 600px) {
  .hero-section, 
.vission-section, 
.mission-section, 
.content-section, 
.history {
  padding: 20px 30px;
}
  .team-member img {
   width: 100% !important;
  }
  .hero-section .text h1 {
    font-size: 28px;
  }
}
