.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.signup-container {
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    border: 1px solid #FC5F12;
    box-shadow: 0 4px 6px hsla(20, 92%, 57%, 0.2);
    background-color: transparent;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Heading */
.signup-container h1 {
    color: #1042BF80;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}
.form-group {
    margin-bottom: 12px;
    text-align: left;
}

label {
    font-size: 16px;
    color: #666;
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid transparent;
    border: 1px solid rgb(16, 66, 191);
    border-radius: 4px;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #1042BF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: hsla(20, 92%, 57%, 0.2)cd~;
}

/* Responsive Design */
@media (max-width: 750px) {
    .signup-container {
        padding: 1.5rem;
    }

    .signup-container h1 {
        font-size: 1.5rem;
    }

    input {
        padding: 0.7rem;
    }

    button {
        padding: 0.9rem;
    }
}
